<div class="container theme-showcase" role="main">

  <div class="jumbotron">
    <h2>Hello {{home.currentUser.firstName}} {{home.currentUser.lastName}}</h2>
    <p>
      <button class="btn btn-primary" ng-click="home.showModal()">Reveal modal</button>
      <button class="btn btn-primary" ng-click="home.showAnotherModal()">Reveal another modal</button>
      <button class="btn btn-primary">Reveal blackout</button>
    </p>

    <div class="dropdown" click-outside-element click-in="showDropdown()" click-out="hideDropdown()">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
        <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">HTML</a></li>
        <li><a href="#">CSS</a></li>
        <li><a href="#">JavaScript</a></li>
      </ul>
    </div>
  </div>
</div>
