/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

body {
  background: #eee !important;
  color: #2c2c2c;

  .navbar-inverse {
    background-color: rgba(34, 34, 34, 0.17);
    border-color: rgba(9, 9, 9, 0.16);

    .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
      color: #fff;
      background-color: rgba(9, 9, 9, 0.11);
    }

    .navbar-brand,
    .navbar-nav > li > a {
      color: #636363;
    }
  }
}

.main-content {
  margin-top: 80px;
}

.jumbotron {
  background-color: #ccc;
  border: 1px solid rgba(9, 9, 9, 0.16);

  h2 {
    color: #696969;
  }
}

.wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
}

.btn-primary {
  color: #fff;
  background-color: #5BA1DC;
  border: none;
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
